html {
background-color: #E0E0E0;
border: 6px solid #404040;
}

body {
margin: 30px;
padding-top: 10px;
background-color: #FFE5CC;
border: 6px groove rgb(239, 138, 115);
font-family: Verdana, sans serif;
}

h1 {
font-family: "Rubik Mono One", monospace;
text-align: center;
margin-top: 30px;
font-size:  64px;
font-weight: bold;
word-spacing: -10px;
letter-spacing: -3px;
text-decoration: underline;
text-transform: capitalize;
}

h3 {
padding-top: 25px;
margin: 45px;
line-height: 1.4;
text-indent: 30px;
text-align: justify;
font-variant: normal;
font-style: italic;
}


.box {
width: 250px;
height: 340px;
display: inline-block;
margin: 50px 50px 20px 45px;
background-color: #fff;
padding: 0.5px 0;
border: thin dashed #F67070;
}

#one {
margin-left: 65px;
}

.part {
width: 230px;
height: 240px;
background-color: #E0E0E0;
margin-left: 10px;

}

.inside {
padding-top: 10px;
line-height: 250%;
color: #807A79;
font-size: 18px;
font-weight: 800;
margin-left: 8px;
}

.job {
line-height: 0.2px;
padding-left: 10px;
margin-top: 25px;
}


